@import './layout//variables.scss';


.neoApp{
  color:$paperBlack !important;
  text-shadow: 1px 1px 0 $white;
  background: $color-bg;
}

.container{
  color:$paperBlack !important;
  border-radius: 20px !important;
  background: $color-bg !important;
  text-shadow: 1px 1px 0 $white;
  box-shadow: -5px -5px 20px $white,  5px 5px 20px $color-shadow!important;
}

.neoBtn{
  color: $paperBlack !important;
  border-radius: 50px !important;
  background-color: $color-bg !important;
  text-shadow: 1px 1px 0 $white;
  box-shadow: -5px -5px 20px $white,  5px 5px 20px $color-shadow !important;
   &:hover {
    box-shadow: -2px -2px 5px $white, 2px 2px 5px $color-shadow !important;
  }
   &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $white !important;
  }
}


